.main-cont {
    /* box-shadow: 3px 3px 5px 4px #d0d0d0; */
  }
  .heading1 {
    color: black;
    font-weight: bold;
    background-color: #e3e3e3;
  }
  
  .btncontrol {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .btn-primary {
    background-color: #44a3df;
  }
  
  .btn-outline-primary {
    color: #44a3df;
    border-color: #44a3df;
  }
  
  .line-left {
    width: 3%;
    border-color: #44a3df !important;
  }
  
  .reference-header-title {
    width: 9%;
    border-color: #44a3df !important;
    color: #44a3df;
    font-size: 90%;
  }
  
  .line-right {
    width: 88%;
    border-color: #44a3df !important;
  }
  
  form {
    font-size: 14px;
  }
  
  input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: #b8b7b7;
    line-height: 2em;
    padding: 0px;
    border-radius: 0px;
    outline: none !important;
    /* font-size: 14px; */
  }
  input:focus {
    outline: none;
    box-shadow: none;
  }
  input::placeholder{
    color: #a9a7a7;
    font-size: 12px;
  }
  
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0; 
  }
  
  .form-floating label {
    line-height: 2em;
    padding-top: 14px;
    padding-bottom: 14px;
  }
  
  .references-container{
    padding-left:3rem;
    padding-right:3rem;
  }