<nav class="navbar">
  <ul class="navbar-list">
    <li>
      <a routerLink="/" >personal information</a>
    </li>
    <li>
      <a routerLink="/references">references</a>
    </li>
    <li>
      <a routerLink="/general-nomination">general-nomination</a>
    </li>
    <li>
      <a routerLink="/screen4">File Upload</a>
    </li>
    <li>
      <a routerLink="/screen5">Documents Upload</a>
    </li>
    <li>
      <a routerLink="/medical-insurance">Medical insurance</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>

<!-- <app-employee-personal-data></app-employee-personal-data> -->
<!-- <app-references></app-references> -->
<!-- <app-general-nominations></app-general-nominations> -->
